# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env
*.env.local

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
logs/
*.log
**/logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/config/

# dbt
target/
**/target/
dbt_packages/
**/dbt_packages/
package-lock.yml
**/package-lock.yml

# Temporary
*.tmp
*.swp

# Jupyter
.ipynb_checkpoints/.user.yml
**/.user.yml
